.button-sec-wrap {
	width: 100%;
    display: flex;
    align-items: center;
	min-height: 100vh;
}
.button-sec {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.button-middle {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    padding: 0px 200px 0px 200px;
}
.button-middle2 {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    padding: 0px 500px 0px 500px;
}
.button-wrap {
    display: inline;
    cursor: pointer;
}